<nav>
    {% if page.layout != 'default' %}
    <a href="/"><img src="/images/monkey.png" class="logo"></a>
    {% endif %}
    <ul>
        <li><a href="{{ site.register_url }}">Register</a></li>
        <li><a href="http://chat.purplemonkeygamejam.com">Chat</a></li>
        <li><a href="https://www.redbubble.com/people/neogeek/works/26206693-purple-monkey-game-jam?asc=u">Shop</a></li>
        <li><a href="/getting-started/">Getting Started</a></li>
        <li><a href="/code-of-conduct/">Code of Conduct</a></li>
        <li><a href="/sponsors/">Sponsors</a></li>
    </ul>
</nav>
