* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 1em;
    line-height: 1.3em;
    letter-spacing: 0.02em;
    color: $black;
}

p {
    margin: 1em auto;
}
