.button {
    display: inline-block;
    margin: 1rem;
    padding: 0.75rem 1.5rem;
    font-size: 1em;
    line-height: 1em;
    font-weight: 200;
    color: $white;
    text-decoration: none;
    background-color: $purple;
    border-radius: 1.5rem;
}
