.site-header {

    color: $white;
    text-align: center;
    background-image: url('../images/hero-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: $black;

    nav {

        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            padding: .25em;
            width: 45px;
            display: block;
        }

        ul {

            flex: 1;
            text-align: right;

            li {

                display: inline-block;
                list-style: none;

                a {

                    display: inline-block;
                    padding: 0.5rem;
                    font-size: 0.9em;
                    line-height: 1em;
                    color: inherit;
                    text-transform: uppercase;
                    text-decoration: none;

                    &:hover {
                        opacity: 0.75;
                    }

                }

            }

        }

    }

    .info {

        padding: 3em 2em;

        .title {
            font-size: 2.5em;
            line-height: 1.3em;
            text-transform: uppercase;
        }

        .logo {
            padding: 1em;
            width: 225px;
        }

        .date {
            font-size: 2em;
            line-height: 1.3em;
            font-weight: 200;
        }

        .button {
            font-size: 1.5em;
        }

    }

}

.site-footer {
    padding: 3em 2em;
    text-align: center;
}
