.description {

    padding: 3em;
    text-align: center;

    p {
        max-width: 50em;
    }

}

.schedule {

    padding: 3em;
    color: $white;
    font-weight: 200;
    text-align: center;
    background-color: $black;

    h3 {
        font-size: 1.4em;
        line-height: 1.3em;
        font-weight: 400;
    }

    p {

        color: $white-light;

        b {
            color: $white;
            font-weight: 400;
        }

    }

    .schedule-row {

        overflow: auto;
        margin: 2em auto;
        max-width: 30em;

        .schedule-col {
            padding: 1em;
            text-align: left;
        }

        @media (min-width: 50em) {

            .schedule-col {
                float: left;
                width: 50%;
            }

        }

    }

}

.map {

    img {
        width: 100%;
        height: auto;
    }

}
