.description {

    text-align: center;

}

.schedule {

    padding: 3em;
    color: $white;
    font-weight: 200;
    text-align: center;
    background-color: $black;

    p {

        color: $white-light;

        b {
            color: $white;
            font-weight: 400;
        }

    }

    .schedule-row {

        overflow: auto;

        .schedule-col {
            padding: 1em;
            text-align: left;
        }

        @media (min-width: 50em) {

            .schedule-col {
                float: left;
                width: 50%;
            }

        }

    }

}

.map {

    img {
        width: 100%;
        height: auto;
    }

}
